<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet Josie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <link rel="shortcut icon" type="image/png" href="static/images/ATTA_Bulb.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-a11y="true"></script>
</head>
<body>


<div style="width:100%;" class="fade_up">
    <img style="width:100%;margin-bottom:25px;" src="static/images/tulsa_skyline.jpg">

    <a href="javascript:openNav()">
    <div class="top_right">
        <div class="hamburger_stripe"></div>
        <div class="hamburger_stripe"></div>
        <div class="hamburger_stripe"></div>
    </div>
    </a>

    <div class="centered" style="color:white;">
        <h1 style="text-align:left;">Josephine Peacock</h1>
        <ul>
        <li>Technical Problem Solver</li>
        <li>Programmer</li>
        <li>Renaissance Woman</li>
        </ul>
    </div>
</div>
<div class="fade_up">
    <p>I like to say that I'm a Jill of all trades and master of a few. From when I was the
    neighborhood bicycle mechanic as a kid, traveling to some far off country as the subject matter expert for my
        company's test systems, to starting a business providing automated testing solutions.</p>
    <p>I've made a name for myself as a technical problem solver, troubleshooter, and innovator. Currently I'm looking
        to expand my skill set further into the world of software and web development.</p>
    <p>Below are some of my proudest achievements.</p>
</div>
<hr>

<!--<div class="fade_up" style="border: 2px solid black;overflow:hidden;">-->
<div class="fade_up">
    <h1>ATTAconnect Web Application</h1>
     <a href="{{atta_connect}}">
        <div class="icon_panel">
            <img class="icon_content" src="static/images/ATTAconnect_tm.png" alt="ATTAconnect">
        </div>
    </a>
    <p class="icon_wording">
        ATTAconnect has been a labor of love for the last two years. My experience with automated test system software
        left me feeling we could do better when it came to software development and IIoT enabled data management.
        So with internet resources and help from an experienced programmer we were able to create
        something revolutionary in the world of automated test systems. Click on the icon above to learn more.
    </p>
</div>
<hr>
<div class="fade_up">
    <h1>Servo Valve Control</h1>
    <a href="{{servo_valve}}">
    <div class="icon_panel">
        <img class="icon_content" style="margin:0px 0px 0px 0px; padding-left:45px; width:75%;" src="static/images/servo_valve.png" alt="ATTAconnect">
    </div>
    </a>

    <p class="icon_wording">Nearly three years ago I was able to connect with
        <a href="{{vsi}}" target="blank">Valve Systems International.
        </a>
        They had created a very innovative control valve that had a unique
        challenge when it came to finding an actuator that really unlocked the potential of the design. We worked together
        to put a freakin robot on a valve! Actually we put a servo on a valve and demonstrated the potential of this
        <a href="{{yt_valve_test}}" target="blank">
            high performance control valve!
        </a>
    </p>
</div>

<hr>

<div class="fade_up">
    <h1>ATTA Modular Control System</h1>
    <a href="{{modular_control}}">
    <div class="icon_panel">
        <img class="icon_content" style="margin-top:10px;" src="static/images/Modular_control_system_tm.png" alt="Modular Control System">
    </div>
    </a>

    <p class="icon_wording">
        During my time as a field engineer I felt the design of low production test systems was lacking. It would take
        days to connect a system wire by wire wasting my time and the time of the end user. And it was always a challenge
        to replace obsolete or broken components since every system was from it's own generation. So I spent my first
        year at ATTA
        <a href="#">designing a system</a>
        that can be installed by someone with no previous system installation experience. Also since every component is
        standardized we have a custom test system with proper lifecycle management! The first system was installed at a
        customer's facility early 2019 and has been running production full time since then.

    </p>
</div>

<hr>

<div class="fade_up">
    <h1>Website Design Using Flask</h1>
    <a href="{{modular_control}}">
    <div class="icon_panel">
        <h1 class="icon_content" style="margin-top:110px;"> > THIS WEBSITE! < </h1>
<!--        <img class="icon_content" style="margin-top:10px;" src="static/images/Modular_control_system_tm.png" alt="ATTAconnect">-->
    </div>
    </a>

    <p class="icon_wording">
        I would love to show off all the magic that happens in the ATTAconnect software, unfortanetly that's not possible.
        So instead enjoy this little website that I threw the skeleton together in a few days. Also feel free to take a
        look at my
        <a href="{{github}}">github account</a>
        That holds the source code for this little beauty.
    </p>
</div>

<hr>

<div style="float:right;padding:25px;width:450px;">
<p style="font-size:15px;padding:0px;text-align:left;">Built using Flask Python micro framework</p>
<p style="font-size:15px;padding:0px;text-align:left;">Copyright &#169 2020 Josephine Peacock all rights reserved</p>
</div>

<!--Sidepanel-->
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
    <a href="{{contact}}">Contact</a>
    <a href="{{linkedin}}" target="blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="{{github}}" target="blank"><i class="fab fa-github-square"></i> GitHub</a>
    <a href="javascript:window.open('{{cv_download}}', 'popup', 'width=800,height=800');"><i class="far fa-file-pdf"></i> Curriculum Vitae </a>
    <a href="#"><i class="far fa-file-pdf"></i> R&egrave;sum&egrave; </a>
</div>


</body>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</html>