<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet Josie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <link rel="shortcut icon" type="image/png" href="static/images/ATTA_Bulb.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>


<div style="width:100%;" class="container">
    <img style="width:100%;" src="static/images/tulsa_skyline.jpg">

    <a href="javascript:openNav()">
    <div class="top_right">
        <div class="hamburger_stripe"></div>
        <div class="hamburger_stripe"></div>
        <div class="hamburger_stripe"></div>
    </div>
    </a>

    <div class="centered">
        <h1 style="text-align:left;">Josephine Peacock</h1>
        <ul>
        <li>Technical Problem Solver</li>
        <li>Programmer</li>
        <li>Renaissance Woman</li>
        </ul>
    </div>
</div>

<div class="fade-scroll">
    <p>I like to say that I'm a Jack (Jill) of all trades and master of a few. From when we were kids and I was the
    neighborhood bicycle mechanic up to where I'm traveling to some far off country by myself to install automated
        industrial machines.</p>
    <p>I've made a name for myself as a technical problem solver, troubleshooter, and innovator. Currently I'm looking
        to expand my skill set further into the world of software and web development.</p>
    <p>Below are some of my proudest achievements.</p>
</div>
<hr>

<!--<div class="fade-scroll" style="border: 2px solid black;">-->
<div class="fade-scroll">
    <p>ATTAconnect has been a labor of love for the last two years. My experience with automated test system software
        left me feeling we could do better when it came to software development and IIoT enabled data management.
        So with internet resources and help from an experienced programmer we were able to create
        something revolutionary in the world of automated test systems </p>
    <a href="{{atta_connect}}">
        <div class="icon_panel">
            <img class="icon_content" src="static/images/ATTAconnect_tm.png" alt="ATTAconnect">
        </div>
    </a>
</div>
<hr>
<div class="fade-scroll">
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
        corporate strategy foster collaborative thinking to further the overall value proposition. Organically
        grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    <a href="{{servo_valve}}">
    <div class="icon_panel">
        <img class="icon_content" style="margin:0px 0px 0px 0px; padding-left:45px; width:75%;" src="static/images/servo_valve.png" alt="ATTAconnect">
    </div>
    </a>
</div>
<hr>
<div class="fade-scroll">
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
        corporate strategy foster collaborative thinking to further the overall value proposition. Organically
        grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    <a href="{{modular_control}}">
    <div class="icon_panel">
        <img class="icon_content" style="margin-top:10px;" src="static/images/Modular_control_system_tm.png" alt="ATTAconnect">
    </div>
    </a>
</div>
<hr>
<p>Footer stuff will go here</p>
<!--<div class="hamburger_container">-->

<!--</div>-->
<!--<button id="download_cv" onClick="window.open('{{cv_download}}', 'popup', 'width=800,height=800'); return false;">-->
<!--CV/Resume-->
<!--</button>-->

<!--Sidepanel-->
<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  <a href="#">About</a>
<!--  <a href="#">Services</a>-->
  <a href="#">Contact</a>
  <a href="javascript:window.open('{{cv_download}}', 'popup', 'width=800,height=800');">Curriculum Vitae</a>
</div>


</body>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</html>