<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Stories</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <link rel="shortcut icon" type="image/png" href="static/images/ATTA_Bulb.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<h1>Success Stories</h1>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</html>