<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Development</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
     <link rel="shortcut icon" type="image/png" href="static/images/ATTA_Bulb.png">
</head>
<body>
<a href="{{main}}">Back To Main
<h1>Web Development</h1>

<img style="width:50%; margin-left:25%;" src="static/images/under-construction.png">
</a>
<hr>

<div style="float:right;padding:25px;width:450px;">
<p style="font-size:15px;padding:0px;text-align:left;">Built using Flask Python micro framework</p>
<p style="font-size:15px;padding:0px;text-align:left;">Copyright &#169 2020 Josephine Peacock all rights reserved</p>
</div>

</body>
</html>