*{
    font-family: Arial;
}

p{
 margin:auto;
 width:75%;
 text-align:left;
 padding: 25px;
}

.fade {
  padding: 50px;
  width:50%;
  margin:auto;
}

/* Change CSS based on screen size*/
@media (max-width: 1000px) {
    *{
        font-family: "Comic Sans MS";
    }
    p{
        width:100%;
    }
    .fade{
        width:100%;
    }
}