*{
    font-family: Arial;
}
h1, h2{
    text-align:center;
}

p{
    padding:15px;
    margin:auto;
    width:100%;
    text-align:left;
}

button{
    padding:0px;
    margin:15px;
    height:25px;
    width:150px;
    float:left;
}

.fade-scroll {
    padding:0px;
    margin:50px;
    width:50%;
    margin:auto;
}

/* Change CSS based on screen size*/
@media (max-width: 1000px) {
    p{
        width:100%;
    }
    .fade-scroll{
        width:100%;
    }
}